body,
html,
* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around

}
.header {
    animation: headerslide 3s;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around
    
    
}

.card {
    font-size: 3rem;
    background-color: lavenderblush;
    padding: 2%;
    margin: 2rem 0;
    border: 1px solid lavenderblush;
    border-radius: 5px;
    box-shadow: 10px 10px hotpink;
    transition: all 0.3s;
    width: 23%;
    height: 40vh;

}
.card:hover {
   transform: rotate(360deg)
}

.cardtitle {
    background-color: lightpink;
    font-size: 5rem;
    width: 140rem;
    text-align: center;
    margin: 6rem auto;
    border: 3px solid palevioletred;
    border-radius: 5px;
    box-shadow: 10px 10px hotpink;
   
}
.cardimg {
    outline-offset: 1rem;
    width: 250px;
    transition: all 0.3s
    
}
.cardimg:hover{
    outline: solid 1rem #FF10F0;
    transform: scale(0.9)    
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 812px) {
    .card { 
        width: 100%;
    }
}
.hello {
   width: 200px;
}
h4 {
    background-color: lightpink;
    transition: all 0.3s;
}

h3 {
    background-color: lightpink;
    transition: all 0.3s;
}
h3:hover {
  transform: translate(0px, -75%);
  background-color: #FF10F0;
}

h4:hover { 
 transform: translate(0px, 75%);
 background-color: #FF10F0;
}

.background--custom {
    background: linear-gradient(90deg, #FFB6C1, #E6ABDF, #F83BAD);
    background-size: 300% 300%;
    animation: gradient 3s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

@keyframes headerslide {
    from {
        transform: translateY(-20vh);
    }
    to {
        transform: translateY(0);
    }
  
}