body,
html,
* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: pink;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  
}

.card {
    font-size: 3rem;
    background-color: lavender;
    padding: 2%;
}
.tea {
    background-color: lightcyan;
    font-size: 5rem;
    width: 140rem;
    text-align: center;
    margin: 4rem auto;
}