body,
html,
* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: lightpink;
}
.container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around

}

.card {
    font-size: 3rem;
    background-color: lavenderblush;
    padding: 2%;
    margin: 2rem 2rem;
    border: 1px solid lavenderblush;
    border-radius: 5px;
    box-shadow: 10px 10px hotpink;
   
   
}
.tea {
    background-color: pink;
    font-size: 5rem;
    width: 140rem;
    text-align: center;
    margin: 6rem auto;
    border: 3px solid palevioletred;
    border-radius: 5px;
    box-shadow: 10px 10px hotpink;
}
.hello {
    position: absolute;
    top: 35px;
    left: 27px;
   
}
.hello2 {
    position: absolute;
    top: 7px;
    left: 1680px;

}